/* Stylesheet by Bob Cowling, 2018 */

html,body {width:100%;height:100%;margin:0;padding:0;}

body {position: absolute; z-index: -2;}

#map {
    background:white;display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:56px; /* adjust top margin to your header height */
    z-index: -1;
}

.modal {
    height: 200px;
    padding: 0px;
    overflow: hidden;
}

.modal .modal-content {
    padding: 2px;
}

#name {
    font-size: 20px;
    color: green;
}

.material-icons {
    color: white;
}

nav {
    height: 56px;
    line-height: 56px;
    background-color: #045491;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 56px;
    line-height: 56px;
}

nav .button-collapse i {
    height: 56px;
    line-height: 56px;
}

nav .brand-logo { 
    font-size: 1.6rem;
    
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 56px;
        line-height: 56px;
    }
}

.side-nav {
    z-index: 90000 !important;
}

@media only screen and (min-width: 993px){
nav a.button-collapse {
    display: block;
}
}

#awtd1520968215226 {
    padding-top: 3px;
}

h10 {
    display: block;
    padding: 0 28px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.imgheader {
    position: absolute;
    right: 145px;
}

#length, #km {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.btn, .btn-large {
    background-color: #045491;
}

h5 {
    font-family: 'Roboto', sans-serif;
    color: #045491;
}

.fullscreen {
    position: absolute;
    right: 20px;
    top: 4px;
}

#elevation-chart {
    margin-top: -15px; 
});
}